<!DOCTYPE html>
<html lang="ja"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">Title</title>
    <meta charset="UTF-8" />
    <meta name="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <!-- Main division -->
    <div>
        <!-- Header -->
        <header>
            <h3>Header</h3>
        </header>

        <!-- Content -->
        <div layout:fragment="content" th:remove="tag" ></div>

        <!-- Footer -->
        <footer>
            <h4>Footer</h4>
        </footer>
    </div>
</body>
</html>